    <div class="d-flex justify-content-center" style="margin-top:100px">
          <div>
             <h1>Editing project</h1>

             <%= render "form", project: @project %>

        <br>

        <div>
          <%= link_to "Show this project", @project, class: "btn btn-primary" %> 
          <%= link_to "Back ", projects_path, class: "btn btn-primary" %>
        </div>
        </div>
    </div>




